*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main: oklch(96.8% 0.031 96.86);
  --secondary: oklch(30.26% 0.038 108.46);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  color: var(--main);
  text-transform: uppercase;
  -webkit-transition: color 1s ease-in;
  transition: color 1s ease-in;
  font-weight: 300;
}

h1 {
  font-family: "bigilla", "Courier New", Courier, monospace;
  font-weight: 600;
}

.quoteapp__content {
  font-style: italic;
}

@font-face {
  font-family: "bigilla";
  src: url("../bigilla-webfont.woff2") format("woff2"), url("../bigilla-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bigilla";
  src: url("../bigilla-bold-webfont.woff2") format("woff2"), url("../bigilla-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  height: 100vh;
  background-color: var(--secondary);
  -webkit-transition: background-color 2s ease-in;
  transition: background-color 2s ease-in;
}

.quoteapp {
  height: 100%;
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: radial-gradient(92.44% 52.98% at 99.93% 35.23%, rgba(98, 96, 93, 0.5) 0%, rgba(130, 124, 110, 0.19) 100%), #1C1C16;
}
@media all and (min-width: 720px) {
  .quoteapp {
    padding: 4.8rem;
  }
}

.quoteapp__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quoteapp__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.quoteapp__main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3.2rem;
  gap: 24px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media all and (min-width: 720px) {
  .quoteapp__main {
    padding: 0 12rem;
  }
}

.quoteapp__content {
  text-align: left;
}

.quoteapp__author {
  text-align: right;
}

.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.hide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.quoteapp__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media all and (min-width: 720px) {
  .quoteapp__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.quoteapp__bestwishes {
  display: none;
  cursor: default;
  color: var(--primary);
  text-decoration: line-through;
  -webkit-transition: color 1s ease-in;
  transition: color 1s ease-in;
}
@media all and (min-width: 720px) {
  .quoteapp__bestwishes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.quoteapp__bestwishes::after {
  display: inline-block;
  content: "function not available";
  opacity: 0;
  margin-left: 24px;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.quoteapp__bestwishes:hover::after {
  text-decoration: none;
  display: inline-block;
  opacity: 1;
  margin-left: 24px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.quoteapp__btn {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  font-weight: 600;
}

.btn--new-quote {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn--new-quote:hover {
  cursor: pointer;
}

.quoteapp__btn {
  position: relative;
}
@media all and (min-width: 720px) {
  .quoteapp__btn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    background: var(--main);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  .quoteapp__btn:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.s {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.m {
  font-size: clamp(2rem, 3vw, 2.4rem);
}

.l {
  font-size: clamp(1.6rem, 3vw, 3.2rem);
}

.xl {
  font-size: clamp(2.4rem, 3vw, 4.8rem);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.color--main {
  color: var(--main);
}

.color--secondary {
  color: var(--secondary);
}

.height-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}