.quoteapp__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quoteapp__bestwishes {
    cursor: default;
    color: var(--primary);
    text-decoration: line-through;
    transition: color 1s ease-in;
    &::after {
        display: inline-block;
        content: 'function not available';
        opacity: 0;
        margin-left: 24px;
        transform: translateX(-10%);
        transition: all .2s ease-in;
    }
    &:hover::after {
        text-decoration: none;
        display: inline-block;
        opacity: 1;
        margin-left: 24px;
        transform: translateX(0);
    }
}

.quoteapp__btn {
    transition: all 1s ease-in;
}