/*menu - light toggler */
.quoteapp__light {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  .quoteapp__light-toggler {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .quoteapp__light-toggler:hover ~ .quoteapp__light-switch {
    width: 72px;
  }
  .quoteapp__light-toggler:checked ~ .quoteapp__light-switch > .btn--light {
    background: var(--main);
  }
  .quoteapp__light-toggler:hover:checked ~ .quoteapp__light-switch > .btn--light {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  .quoteapp__light-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    width: 36px;
    -webkit-box-shadow: 0 0 0 2px var(--main);
            box-shadow: 0 0 0 2px var(--main);
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .btn--light {
    width: 36px;
    height: 36px;
    -webkit-box-shadow: 0 0 0 2px var(--main);
            box-shadow: 0 0 0 2px var(--main);
    border-radius: 50%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }