@import './mixins';

body {
    margin: 0;
    height: 100vh;
    background-color: var(--secondary);
    transition: background-color 2s ease-in;
}

.quoteapp {
    height: 100%;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: radial-gradient(92.44% 52.98% at 99.93% 35.23%, rgba(98, 96, 93, 0.50) 0%, rgba(130, 124, 110, 0.19) 100%), #1C1C16;
    @include mq-720 {
        padding: 4.8rem;
    }
}