

$font-sizes: (
    's': 16px,
    'm': 24px,
    'l': 32px,
    'xl': 48px
);



.s {
    font-size: map-get($font-sizes, 's');
}
.m {
    font-size: map-get($font-sizes, 'm');
}
.l {
    font-size: map-get($font-sizes, 'l');
}
.xl {
    font-size: map-get($font-sizes, 'xl');
}


//display
.flex {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.flex--1 {
    flex: 1;
}

//colors

.color--main {
    color: var(--main);
}

.color--secondary {
    color: var(--secondary);
}